body{
    margin: 0;
    padding: 0;
    background-color: #22282b !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
#home{
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 70px;
    background-color: #2d5ab9;
}
#header{
    position: relative;
    margin-top: 0;
    height: 70px;
    background-color: #0d47a1 !important;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    background-color: #0d47a1 !important;
    color: #cfe0c3 !important;
    position: relative;
    height: 60px !important;
}
.nav .current{
    background-color:red;
}
#footer{
    position: relative;
    margin-top: 10px;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #3f4246 !important;
}
#panel{
    position:relative;
    top:90px;
    left:15%;
    width: 80%;
    margin-bottom: 100px;
    
    justify-content: center;
}
#userName{
    text-align: center;
    position: absolute;
    left: 45%;
    top: 20px;
    color: #cfe0c3;
    font-size: 20px;
    font-weight: bold;
}
.login-btn{
    padding: 4px;
    position:absolute;
    top: 10px;
    right: 10px;
    border: solid 2px #cfe0c3;
    background-color: #000000;
    color: #cfe0c3;
    width: 90px;
    font-size: 16px;
    font-weight: bold;
}
.login-btn:hover{
    background-color: #c3e0c8;
    color: #2115c7;
}
.grid {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(3, 1fr);
  }
.form-login{
    display: block;
    position: absolute;
    right: 0;
    border: #cfe0c3 solid 3px;
    width: 210px;
    color: #cfe0c3;
    text-align: center;
}
.clasificados {
    color: #cfe0c3;
    text-align: center;
}
.cards{
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}
.card{
    box-shadow: 10px 5px 5px black;
    color: #1f363d;
}
.template{
    width: 100%;
}
.container h2{
    color: #cfe0c3;
    text-align: center;
}
.bg-custom, .card-body{
    background-color: #08191dea;
}
.btn-custom{
    background-color: #00dbc9 !important;
    color: #000000 !important;
}
.fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }
.form-control form-control-lg{
    background-color: #1f363d !important;
}
.form-control{
    background-color: #22282b !important;
    color: #c3e0c8!important;

}